body {
  max-height: 100vh;
  background: #232931;
}
.page{
  display: grid;
  grid-template-rows: 5vh auto;
  grid-template-columns: 20% auto 10%;
  grid-row-gap: 2rem;
  grid-template-areas:
    "header header header"
    "useradd main ."
}
.navbar {
  grid-area: header;
}
.main {
  grid-area: main;
  color: #eeeeee;
}

.user-table {
  max-height: 85vh !important;
  overflow-y: auto;
  margin: 5px 15px 5px;
}


.row-btn {
  padding: 0;
  min-width: 35px;
}
.user-add-form {
  grid-area: useradd;
  color: #eeeeee;
  margin-left: 15px;
}

.input-dark {
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
  background: #232931;
  color: #eeeeee;
  border: 1px solid #393e46;
}

.input-primary {
  padding: 5px;
  width: 100%;
  background: #4ecca3;
  color: #232931;
  border: 1px solid #393e46;
}


::-webkit-scrollbar {
  width: 5px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #4ecca3;
}